@import 'vars.scss';
// LISTA FILTRÓW W NOWEJ ZAWARTOŚCI
.ipsSideMenu {
	// Zmiana koloru podświetlenia aktywnego filtru
	ul li.active a {
		background-color: $color-jarock-red;
		transition: background-color 0.5s; // Dodanie przejścia dla koloru tła
		&:hover {
			background-color: $color-jarock-red-hover;
		}
	}
}
