// LISTA FILTRÓW W NOWEJ ZAWARTOŚCI
.ipsSideMenu {
	// Zmiana koloru podświetlenia aktywnego filtru
	ul li.active a {
		background-color: #d10915;
		transition: background-color 0.5s; // Dodanie przejścia dla koloru tła
		&:hover {
			background-color: #ff000f;
		}
	}
}
