@import 'vars.scss';

* {
	box-sizing: border-box;
}

// Ukrycie przymusowych sponsorowanych linków
.ctxt-link {
	color: inherit;
	cursor: text;
	&:hover {
		color: inherit;
	}
}

// Paginacja
.pagination {
	// Na razie nie działa za dobrze
	// padding: 0; // Poprawa położenia
	ul li a {
		transition: 0.5s;
		// Modyfikacja wyglądu po podświetleniu
		&:hover {
			background: $color-jarock-red !important;
			box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
			color: #fff;
		}
	}
}
