/* Wyszukiwarka */

/* Odświeżenie wyglądu */
#search_wrap, #search_options, #search_wrap .submit_input {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		line-height: 30px;
		height: 30px;
	}
/* Kontener wyszukiwarki */
#search_wrap {
	padding: 0 26px 0 0;
}
/* Pole tekstowe */
#main_search {
	transition: 0.5s;
	background: #eaeaea;
	position: relative;
	top: -1px;
	padding: 0 0 0 5px;
}
/* Pole tekstowe kiedy jest podświetlone */
#main_search:focus {
	background: #fff;
}
/* Miejsce wyszukiwania */
#search_options {
	margin: 0;
	text-transform: uppercase;
	min-width: 80px;
}
/* Odnosnik do wyszukiwania zaawansowanego */
#adv_search {
	margin: 0 4px;
	height: 30px;
}
