#community_app_menu li {
	margin: 0;
}
#community_app_menu a {
	transition: 0.5s;
}
#community_app_menu li a:hover {
	background-color: #FF000F;
}
#community_app_menu li.active a:hover {
  background-color: #fff;
}
#more_apps_menucontent {
	box-shadow: unset;
	background: #d10915;
}
#more_apps_menucontent a:hover {
	color: #fff !important;
	background: #FF000F;
}
#shoutbox-shouts-table {
    max-width: 100%;
    overflow-x: hidden;
}
#shoutbox-shouts .ipsUserPhoto {
	width: 32px;
	height: 32px;
}
